body {
    padding: 0;
    margin: 0;
}

.headerLinks {
    background-color: pink;
    display: flex;
    flex-direction: row;
}

h3 {
    margin-left: 100px;
}

ul {
    background-color: yellow;
    width: 800px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 700px;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

#ConnectButton {
    background-color: purple;
    padding: 15px;
    border-radius: 999px;
    color: white;
}