body {
    padding: 0;
    margin: 0;
}

.headerLinks {
    display: flex;
    flex-direction: row;
}

h3 {
    margin-left: 100px;
}

ul {
    width: 800px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 700px;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

#ConnectButton {
    background-color: purple;
    padding: 15px;
    border-radius: 999px;
    color: white;
}

.Info {
    display: flex;
    background-color: chocolate;
    flex-direction: row;
}

.Description {
    background-color: aqua;
    margin-left: 100px;
}

p {
    font-weight: bolder;
}

#Hi {
    border-radius: 999px;
    background-color: green;
    width: 60px;
    text-align: center;
    font-weight: lighter;
}

#Name {
    font-size: 50px;
    background-color: brown;
}

h2 {
    color: purple;
    font-size: 40px;
}

.WorkButton {
    color: white;
    background-color: black;
    padding: 25px;
}

#profilePic {
    width: 500px;
    height: 500px;
    margin-left: 420px;
}

